@model IEnumerable<MovieListViewModel>;

<table>
    @foreach (MovieListViewModel movie in Model)
    {
    <tr> 
        <td> <a asp-controller="movie" asp-action="detail/@movie.Id">@movie.Title</a> </td>
        
    </tr>
    }  
</table>

