@model IEnumerable<MovieListViewModel>;

@{
    if (Model.Count() == 0)
    {
        <p>There are no movies listed at the moment.</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MovieListViewModel movie in Model)
                {
                <tr>
                    <td> <a asp-controller="movie" asp-action="detail/@movie.Id">@movie.Title</a> </td>
                    <td> <a asp-controller="movie" asp-action="edit/@movie.Id"> Edit</a> </td>

                </tr>
                }
            </tbody>
        </table>
    }
}



